<!DOCTYPE html>
<html>
  <head>
  <link rel='stylesheet' href='my_style_sheet.css'>
  </head>
  <body>
  <header>
    BnB
  </header>
    <section name="header">
      <form action='/create' method='get'>
        <input type='submit' value='Add space' class='button__style'>
      </form>
    </section>
    <section name="body">
    <% @spaces.each do |space| %>
      <section name="name" class='space_card'>
       <h3><%= space["name"] %></h3>
        <subtitle>
        <ul>
          <li>Description: <%= space["description"] %></li>
          <li>$<%= space["price"] %></li>
          <li>Maximum occupants: <%= space["capacity"] %></li>
        </ul>
        </subtitle>
        <form action='/create_booking'>
          <input type='submit' value='Book space <%= space["name"] %>'>
        </form>
      </section>
    <% end %>
    </section>
    <section name="footer">

    </section>
  </body>
</html>