<!DOCTYPE html>
<html>
 <head>
  <link rel='stylesheet' href='my_style_sheet.css'>
 </head>
<body>
<div class='conatiner'>
<!-- navbar begin -->

  <nav id="navbar" class="navbar">
    <h1 class="navbar__title">Menu</h1>
    <ul class="navbar__list">
      <li class="navbar__item">
          <a href="/" class="navbar__link">Spaces</a>
      </li>
      <li class="navbar__item">
        <a href="/login" class="navbar__link">Login</a>
      </li>
      <li class="navbar__item">
        <a href="/create" class="navbar__link">List a space</a>
       </li>
    </ul>
  </nav>

<!-- navbar end -->
    <h1>BnB</h1>

    <!-- Space grid begin -->

    <section class='spaces'>
    <div class='space-grid'>
    <% @spaces.each do |space| %>
      <section name="name" class='space_card'>
       <h3 class='space_title'><%= space["name"] %></h3>
        <subtitle>
        <ul>
          <li>Description: <%= space["description"] %></li>
          <li>Price: $<%= space["price"] %></li>
          <li>Maximum occupants: <%= space["capacity"] %></li>
        </ul>
        </subtitle>
        <form action='/create_booking'>
          <input type='submit' value='Book space <%= space["name"] %>' class='button__style'>
        </form>
      </section>
    <% end %>
    </section>

    <!-- Space grid end -->

    <footer>

    </footer>
    </div>
  </body>
</html>
